// initial css for making margin and padding 0;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
.read-more{
    color:rgb(62, 162, 255) !important;
}
button{
    cursor: pointer;
    background:rgb(62, 162, 255) !important;
    color:white;
}
// css for navigation bar
header{
    
    nav{
        padding:.5em;
        
        width:1300px;
        margin:auto;
        align-items: center;
        display:flex;
        justify-content: space-between;
        border-bottom: .3px solid rgb(194, 194, 194);;
        .nav-left{
            .logo{
                p{
                    font-size:30px;
                }
            }
        }
        .nav-middle{
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    margin-right:1.5em;
                    a{
                        text-decoration: none;
                        color:#434040;
                    }
                }
                .active{
                    color:#33C257;
                    padding-bottom: .2em;
                    border-bottom:2px solid rgb(62, 162, 255); 
                }
                li:hover{
                    
                    color:#33C257;
                    padding-bottom: .2em;
                    border-bottom:2px solid rgb(62, 162, 255);
                }

            }

        }
        .nav-right{
            .subscribe-btn{
                border:none;
                padding:1em 3em;
                border-radius: 2px;
                background:linear-gradient( to right,#1DE54F, #3be665);
                color:white;
            }
        }
    }
}

// css for container hero section

.container{
    
    width:1250px;
    margin:auto;
    margin-top:7em;
    
    .hero{
        margin-bottom: 10em;
        display: flex;
        justify-content: space-between;
        
        .hero-left{
            .cat-tag{
                text-transform: uppercase;
                 margin-bottom: 2em;

            }
            .blog-title{
                p{
                    font-size:55px;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
            }
            .blog-short-context{
                width:70%;
                font-size:20px;
                color:black;
                margin-bottom: 1.5em;
            }
            .circles{
                display: flex;
                margin-bottom: 1.5em;
                .circle{
                    width:10px;
                    height:10px;
                    border-radius: 50%;
                    background:rgb(194, 194, 194);
                    margin-right:.5em;
                    
                }
                .c-green{
                    background:rgb(62, 162, 255);
                }
            }

            .search-blog{
                display:flex;
                input{
                    outline:none;
                    border-radius: 4px;
                    display: block;
                    color:rgb(161, 161, 161);
                    width:250px;
                    height:40px;
                    padding:.3em;
                    padding-left:1em;
                    border:none;
                    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89); 
                    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89);
                }
                button{
                    height:40px;
                    border:none;
                    padding:1em 3em;
                    border-radius: 2px;
                    background:linear-gradient( to right,#1DE54F, #3be665);
                    color:white;
                }
            }
        }
        
    }
}

// css for container content section 

.container{
    .contents{
       
        

        .blog{
            padding-top:3em;
            padding-bottom: 3em;
            border-top: .3px solid rgb(194, 194, 194);
            display: flex;
            justify-content: space-between;
            .cat-tag{
                margin-bottom: 1em;
                text-transform: uppercase;

           }
           .blog-title{
               width:80%;
               p{
                   font-size:45px;
                   font-weight: bold;
                   margin-bottom: 1em;
               }
           }
           .blog-short-context{
               width:80%;
               font-size:18px;
               color:black;
               margin-bottom: 1em;
               p{
                   margin-bottom: 1em;
               }
               a{
                   color:#1DE54F;
               }
           }
           .blog-right{
               .img{
                   img{
                       width:500px;
                       height:300px;
                   }
               }
           }
        }

        .load-more-btn{
            
            width:fit-content;
            margin:2em auto;
            button{
                padding:.7em 3em;
                border-radius: 2px;
                border:.3px solid rgba(0, 0, 0, 0.322);

            }
        }

        .latest-blog-section{

            .latest-blog-heading{
                .blog-title{
                    font-size:35px;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
                .blog-short-context{
                    width:40%;
                    font-size:18px;
                    color:black;
                    margin-bottom: 2em;
                    
                }
            }
            .latest-blogs{
                display: flex;
                justify-content: space-between;
                .l-blog{
                    -webkit-box-shadow: -1px 0px 11px -4px rgba(0,0,0,0.89); 
                    box-shadow: -1px 0px 11px -4px rgba(0,0,0,0.89);             
                    width:300px;
                    border-radius: 3px;
                    .img{
                        img{
                            width:100%;
                            height:220px;
                            border-radius: 3px;

                        }
                    }
                    .date-info{
                        padding:.3em .5em;
                        margin-top:.5em;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .d-info-left, .d-info-right{
                            display: flex;
                            align-items: center;
                            p{
                                margin-left:.3em;
                            }
                        }
                        
                    }
                    .l-b-short-context{
                        padding:.3em .5em;
                        margin:.5em 0;
                        padding-bottom: .5em;
                        
                        p{
                            font-weight: bold;
                            font-size: 22px;
                            padding-bottom: .5em;
                            color:#434040;
                        }

                    }
                }
            }
        }
    }
}

// css for footer subscribe section

footer{
    width:1420px;
    
    margin:auto;
    margin-top:10em;
    .footer-subscribe-section{
        width:100%;
        height:300px;
        background:linear-gradient(to right, #383941,#222F21);

        .subscribe-context{
            width:fit-content;
            margin:auto;
            padding-top:6em;
            .join-txt{
                font-size:20px;
                color:white;
                text-align: center;
                margin-bottom: 2em;
            }
            .sub-btn{
                display:flex;
                input{
                    outline:none;
                    border-radius: 4px;
                    display: block;
                    color:rgb(161, 161, 161);
                    width:250px;
                    height:40px;
                    padding:.3em;
                    padding-left:1em;
                    border:none;
                    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89); 
                    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89);
                }
                button{
                    margin-left:.5em;
                    height:40px;
                    border:none;
                    padding:1em 3em;
                    border-radius: 2px;
                    background:linear-gradient( to right,#1DE54F, #3be665);
                    color:white;
                }
            }
        }
    }
}

// css for footer contents section

footer{
    .footer-contents{
        width:100%;
        margin:auto;
        margin-top:5em;
        margin-bottom: 3em;

        display: flex;
        justify-content: space-evenly;
        
        .f-t-title{
            font-weight: bold;
            font-size:20px;
            
        }
        p{
            margin-bottom: 1em;
            font-weight: bold;
        }
        .f-t-s-context{
            width:150px;
            font-weight: normal;
        }

        .f-t-right{
            button{
                border:.3px solid rgb(182, 182, 182);
                padding:1em 3em;
                border-radius: 4px;
                display: block;
                width:200px;
                margin-top: 1.5em;
            }
        }

       
        
    }
}