// initial css for making margin and padding 0;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
.read-more{
    color:rgb(62, 162, 255) !important;
}
button{
    cursor: pointer;
    background:rgb(62, 162, 255) !important;
    color:white;
}
// css for navigation bar
header{
    position:sticky;
    top:0;
    background:white;
    -webkit-box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5);
    nav{
        padding:.5em 1em;
        
       // width:1300px;
        width:100%;
        
        margin:auto;
        align-items: center;
        display:flex;
        justify-content: space-between;
        border-bottom: .3px solid rgb(194, 194, 194);;
        .nav-left{
            .logo{
                p{
                    font-size:30px;
                    color:black;
                }
            }
        }
        .nav-middle{
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    margin-right:1.5em;
                    a{
                        text-decoration: none;
                        color:#434040;
                    }
                }
                .active{
                    color:#33C257;
                    padding-bottom: .2em;
                    border-bottom:2px solid rgb(62, 162, 255); 
                }
                li:hover{
                    
                    color:#33C257;
                    padding-bottom: .2em;
                    border-bottom:2px solid rgb(62, 162, 255);
                }

            }

        }
        .nav-right{
            .subscribe-btn{
                border:none;
                padding:1em 3em;
                border-radius: 2px;
                background:linear-gradient( to right,#1DE54F, #3be665);
                color:white;
            }
        }
    }
}

.toggle-section{
    padding-top:.5em;
    display: none;
    .toggle-icon{
        cursor: pointer;
        div{
            width:25px;
            height:2px;
            background:black;
            border-radius: 1px;
            margin-bottom: .4em;
        }
    }
}
.toggle-content{
    border-top:1px solid black;
    position:absolute;
    left:0;
    top:52px;
    background: #0bc5b3;
    color: white ;
    width:100%;
    padding:1em .5em;
    -webkit-box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5);
    height:0px;
    display: none;
    transition-duration: .3s;
    transition: ease-in-out;
    ul{
        width:fit-content;
        margin:auto;
        list-style: none;
        text-align: center;
        li{
            padding-bottom: .5em;
            border-bottom: 1px solid white;
            a{
                color:white;
                font-size:20px;
            }
            margin-top: 1em;
            margin-bottom: 1em;
        }
        li:hover{
            cursor: pointer;
            transition-duration: .2s;
            transition: ease-in-out;
            a{
                color:black;
                transition-duration: .2s;
            }
            border-color: rgb(0, 0, 0);
        }
    }
}
.t-c-show{
    height:fit-content !important;
    display: block;
    transition-duration: .3s;
}

// css for container hero section

.container{
    
    width:90%;
    margin:auto;
    margin-top:7em;
    
    .hero{
        margin-bottom: 10em;
        display: flex;
        justify-content: space-between;
        
        .hero-left{
            .cat-tag{
                text-transform: uppercase;
                 margin-bottom: 2em;

            }
            .blog-title{
                p{
                    font-size:55px;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
            }
            .blog-short-context{
                width:70%;
                min-width:300px;
                font-size:20px;
                color:black;
                margin-bottom: 1.5em;
            }
            .circles{
                display: flex;
                margin-bottom: 1.5em;
                .circle{
                    width:10px;
                    height:10px;
                    border-radius: 50%;
                    background:rgb(194, 194, 194);
                    margin-right:.5em;
                    
                }
                .c-green{
                    background:rgb(62, 162, 255);
                }
            }

            .search-blog{
                display:flex;
                input{
                    outline:none;
                    border-radius: 4px;
                    display: block;
                    color:rgb(161, 161, 161);
                    width:250px;
                    height:40px;
                    padding:.3em;
                    padding-left:1em;
                    border:none;
                    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89); 
                    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89);
                }
                button{
                    height:40px;
                    border:none;
                    padding:1em 3em;
                    border-radius: 2px;
                    background:linear-gradient( to right,#1DE54F, #3be665);
                    color:white;
                }
            }
        }
        
    }
}

// css for container content section 

.container{
    .contents{
       
        

        .blog{
            padding-top:3em;
            padding-bottom: 3em;
            border-top: .3px solid rgb(194, 194, 194);
            display: flex;
            justify-content: space-between;
            .cat-tag{
                margin-bottom: 1em;
                text-transform: uppercase;

           }
           .blog-title{
               width:80%;
               p{
                   font-size:45px;
                   font-weight: bold;
                   margin-bottom: 1em;
               }
           }
           .blog-short-context{
               width:80%;
               font-size:18px;
               color:black;
               margin-bottom: 1em;
               p{
                   margin-bottom: 1em;
               }
               a{
                   color:#1DE54F;
               }
           }
           .blog-right{
               .img{
                   img{
                       width:500px;
                       height:300px;
                   }
               }
           }
        }

        .load-more-btn{
            
            width:fit-content;
            margin:2em auto;
            button{
                padding:.7em 3em;
                border-radius: 2px;
                border:.3px solid rgba(0, 0, 0, 0.322);

            }
        }

        .latest-blog-section{

            .latest-blog-heading{
                .blog-title{
                    font-size:35px;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
                .blog-short-context{
                    width:40%;
                    font-size:18px;
                    color:black;
                    margin-bottom: 2em;
                    
                }
            }
            .latest-blogs{
                display: flex;
                justify-content: space-between;
                .l-blog{
                    -webkit-box-shadow: -1px 0px 11px -4px rgba(0,0,0,0.89); 
                    box-shadow: -1px 0px 11px -4px rgba(0,0,0,0.89);             
                    width:300px;
                    border-radius: 3px;
                    .img{
                        img{
                            width:100%;
                            height:220px;
                            border-radius: 3px;

                        }
                    }
                    .date-info{
                        padding:.3em .5em;
                        margin-top:.5em;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .d-info-left, .d-info-right{
                            display: flex;
                            align-items: center;
                            p{
                                margin-left:.3em;
                            }
                        }
                        
                    }
                    .l-b-short-context{
                        padding:.3em .5em;
                        margin:.5em 0;
                        padding-bottom: .5em;
                        
                        p{
                            font-weight: bold;
                            font-size: 22px;
                            padding-bottom: .5em;
                            color:#434040;
                        }

                    }
                }
            }
        }
    }
}

// css for footer subscribe section

footer{
    //width:1420px;
    width:100%;
    margin:auto;
    margin-top:10em;
    .footer-subscribe-section{
        width:100%;
        height:300px;
        background:linear-gradient(to right, #383941,#222F21);

        .subscribe-context{
            width:fit-content;
            margin:auto;
            padding-top:6em;
            .join-txt{
                font-size:20px;
                color:white;
                text-align: center;
                margin-bottom: 2em;
            }
            .sub-btn{
                display:flex;
                input{
                    outline:none;
                    border-radius: 4px;
                    display: block;
                    color:rgb(161, 161, 161);
                    width:250px;
                    height:40px;
                    padding:.3em;
                    padding-left:1em;
                    border:none;
                    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89); 
                    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89);
                }
                button{
                    margin-left:.5em;
                    height:40px;
                    border:none;
                    padding:1em 3em;
                    border-radius: 2px;
                    background:linear-gradient( to right,#1DE54F, #3be665);
                    color:white;
                }
            }
        }
    }
}

// css for footer contents section

footer{
    .footer-contents{
        width:100%;
        margin:auto;
        margin-top:5em;
        margin-bottom: 3em;

        display: flex;
        justify-content: space-evenly;
        
        .f-t-title{
            font-weight: bold;
            font-size:20px;
            
        }
        p{
            margin-bottom: 1em;
            font-weight: bold;
        }
        .f-t-s-context{
            width:150px;
            font-weight: normal;
        }

        .f-t-right{
            button{
                border:.3px solid rgb(182, 182, 182);
                padding:1em 3em;
                border-radius: 4px;
                display: block;
                width:200px;
                margin-top: 1.5em;
            }
        }

       
        
    }
}
.f-t-title{
    padding-bottom: .2em;
    
    margin:auto;
    border-bottom: .5px solid black;
}

// media querys 
@media only screen and(max-width:1000px){
    .toggle-section{
        display: block !important;
    }
    .btn-none{
        display: none;
    }
    .nav-middle{
        display: none;
    }
    .container{
        margin-top:5em;
    }
    .hero{
        margin-bottom: 7em !important; 
        .home-hero-right{
            display: none;
        }
    }
    .latest-blogs{
        display: grid !important;
        grid-template-columns: 50% 50% ;
        gap:5%;
        .l-blog{
            width:90% !important;
        }
    }
}

@media only screen and(max-width:800px){
    .blog-title{
        p{
            font-size:2.5em !important;
        }
    }
    .search-blog input{
        width:50% !important;
        height:30px !important;
        font-size:12px;
    }
    .search-blog{
        button{
            width:30%;
            height:30px !important;
            padding:unset !important;
        }
    }

    .blog{
        .blog-left{
            .cat-tag{
                font-size:10px;
            }
            .blog-title{
                font-size:8px;
            }
            .blog-short-context{
                font-size: 6px;
            }
        }
        .blog-right{
            img{
                width:200px !important;
                height:150px !important;
            }
        }
    }

    .latest-blog-heading{
        text-align: center;
        .blog-title{
            font-size:15px !important;
        }
        .blog-short-context{
            width:80% !important;
            margin:auto;
        }
    }
    .footer-contents{
        display: block !important;
        
        .f-t-left , .f-t-middle, .f-t-right{
            text-align: center;
        }
        .f-t-s-context{
            width:100% !important;
        }
        .f-t-right{
            width:fit-content;
            margin:auto;
        }
    }
    .f-t-title{
        
        
        width:50% !important;
        
    }
}

@media only screen and(max-width:500px){
    .latest-blogs{
        grid-template-columns: 100% !important;
        .l-blog{
            margin:auto;
        }
    }
    .footer-subscribe-section{
        margin-top:17em !important;
        .sub-btn{
            
            margin:auto;
            input{
                width:60% !important;
                height:30px !important;
                font-size:10px;

            }
            button{
                width:40% !important;
                height:30px !important;
                padding:unset !important;
            }
        }
        
    }
    
    
}
@media only screen and(max-width:450px){
    .blog{
        .blog-short-context{
            display: none;
        }
    }
}