// initial css for making margin and padding 0;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:unset;

}
.read-more{
    color:rgb(62, 162, 255) !important;
}
button{
    cursor: pointer;
    background:rgb(62, 162, 255) !important;
    color:white;
}
// css for navigation bar
header{
    position:sticky;
    top:0;
    background:white;
    -webkit-box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5);
    nav{
        padding:.5em 1em;
        border-bottom: .3px solid rgb(194, 194, 194);;
       // width:1300px;
        width:100%;
        margin:auto;
        align-items: center;
        display:flex;
        justify-content: space-between;
        
        .nav-left{
            .logo{
                p{
                    font-size:30px;
                }
            }
        }
        .nav-middle{
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    margin-right:1.5em;
                    a{
                        text-decoration: none;
                        color:#434040;
                    }
                }
                .active{
                    color:#33C257;
                    padding-bottom: .2em;
                    border-bottom:2px solid rgb(62, 162, 255); 
                }
                li:hover{
                    
                    color:#33C257;
                    padding-bottom: .2em;
                    border-bottom:2px solid rgb(62, 162, 255);
                }

            }

        }
        .nav-right{
            .subscribe-btn{
                border:none;
                padding:1em 3em;
                border-radius: 2px;
                background:linear-gradient( to right,#1DE54F, #3be665);
                color:white;
            }
        }
    }
}

.toggle-section{
    padding-top:.5em;
    display: none;
    .toggle-icon{
        cursor: pointer;
        div{
            width:25px;
            height:2px;
            background:black;
            border-radius: 1px;
            margin-bottom: .4em;
        }
    }
}
.toggle-content{
    -webkit-box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.5);
    border-top:1px solid black;
    position:absolute;
    left:0;
    top:52px;
    background: #0bc5b3;
    color: white;
    width:100%;
    padding:1em .5em;

    height:0px;
    display: none;
    transition-duration: .3s;
    transition: ease-in-out;
    ul{
        width:fit-content;
        margin:auto;
        list-style: none;
        text-align: center;
        li{
            padding-bottom: .5em;
            border-bottom: 1px solid white;
            a{
                font-size:20px;
            }
            margin-top: 1em;
            margin-bottom: 1em;
        }
        li:hover{
            cursor: pointer;
            transition-duration: .2s;
            transition: ease-in-out;
            a{
                color:black;
                transition-duration: .2s;
            }
            border-color: rgb(0, 0, 0);
        }
    }
}
.t-c-show{
    height:fit-content !important;
    display: block;
    transition-duration: .3s;
}
// css for view blog hero section

.view-blog-hero{
    background-image: url('/images/photo.png');
    background-position: center;
    background-size: cover;
    height:500px;
    //width:1420px;
    width:100%;
    margin:auto;
    .blog-title{
        width:80%;
        margin:auto;
        text-align: center;
        padding-top:22%;
        p{
            font-size:55px;
            font-weight: bold;
            margin-bottom: 1em;
            color:rgb(54, 54, 54);
        }
    }
}

// css for container

.container{
    
    // width:1250px;
    width:100%;
    margin:auto;
    margin-top:5em;
    
    .contents{
       // width:1300px;
       width:90%;
       
        margin:auto;

        .texts{
            padding: .5em;
            padding-left:1em;
            letter-spacing: 1px;
            line-height: 1.8em;
            margin:3em 0;
        }
        .img{
            width:100%;
            padding:.5em;
            padding-left:1em;
            img{
                width:100%;
            }
        }
    }
}


// css for footer subscribe section

footer{
    //width:1420px;
    width:100%;
    margin:auto;
    margin-top:7em;
    .footer-subscribe-section{
        width:100%;
        height:300px;
        background:linear-gradient(to right, #383941,#222F21);

        .subscribe-context{
            width:fit-content;
            margin:auto;
            padding-top:6em;
            .join-txt{
                font-size:20px;
                color:white;
                text-align: center;
                margin-bottom: 2em;
            }
            .sub-btn{
                display:flex;
                input{
                    outline:none;
                    border-radius: 4px;
                    display: block;
                    color:rgb(161, 161, 161);
                    width:250px;
                    height:40px;
                    padding:.3em;
                    padding-left:1em;
                    border:none;
                    -webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89); 
                    box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.89);
                }
                button{
                    margin-left:.5em;
                    height:40px;
                    border:none;
                    padding:1em 3em;
                    border-radius: 2px;
                    background:linear-gradient( to right,#1DE54F, #3be665);
                    color:white;
                }
            }
        }
    }
}

// css for footer contents section

footer{
    .footer-contents{
        width:100%;
        margin:auto;
        margin-top:5em;
        margin-bottom: 3em;

        display: flex;
        justify-content: space-evenly;
        
        .f-t-title{
            font-weight: bold;
            font-size:20px;
            
        }
        p{
            margin-bottom: 1em;
            font-weight: bold;
        }
        .f-t-s-context{
            width:150px;
            font-weight: normal;
        }

        .f-t-right{
            button{
                border:.3px solid rgb(182, 182, 182);
                padding:1em 3em;
                border-radius: 4px;
                display: block;
                width:200px;
                margin-top: 1.5em;
            }
        }

       
        
    }
}

@media only screen and(max-width:1000px){
    .toggle-section{
        display: block !important;
    }
    .btn-none{
        display: none;
    }
    .nav-middle{
        display: none;
    }
}

@media only screen and(max-width:800px){
    .blog-title{
        padding-top:27% !important;
       p{

           font-size:1.5em !important;
       }
    }
    .view-blog-hero{
        height:300px;
    }
    .footer-contents{
        display: block !important;
        
        .f-t-left , .f-t-middle, .f-t-right{
            text-align: center;
        }
        .f-t-s-context{
            width:100% !important;
        }
        .f-t-right{
            width:fit-content;
            margin:auto;
        }
    }
}